
#Link {
    background-color: rgb(202, 119, 208);
    text-decoration: none;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 7px;

}

#add {
    margin: auto;
    border-radius: 100%;
    color: aliceblue;

}