@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#Link {
    background-color: rgb(202, 119, 208);
    text-decoration: none;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 5px;

}

#add {
    margin: auto;
    border-radius: 100%;
    color: aliceblue;

}